
body{
    background-color: #FFF6A4;
    box-sizing: border-box;
}

.main-div{
    padding:10px;
    width:800px;
    margin:auto;
    margin-top: 200px;
    box-sizing: border-box;
    background-color: #beac06;
}

.main-title{
    border-radius: 8px;
    padding:20px;
    background-color: #f8e53c;
    box-sizing: border-box;
}

.option{
    box-sizing: border-box;
    font-size: 20px;
}

.questionNUmber{
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin:5px;
    color:white;
    font-size: 25px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-color: #C8B400;
    padding: 10px;
    border-radius: 50%;
}

.mainOption{
    padding:5px;
    margin:20px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #FFF06D;
    border-radius: 8px;
}

.mainOption:hover {
    transform: scale(1.1);
    background-color: #f8e133;
    border: 5px solid #756a03;
}


.main-footer{
    margin-top: 15%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}




/*Result page*/

.paragraphResult{
    background-color: white;
    padding:20px;
    margin:10px;
    height:80px;
    font-size: 50px;
    text-align: center;
}

.nota{
    background-color: rgb(10, 97, 228);
    color:white;
    padding:20px;
    padding-bottom:40px;
    margin:10px;
    height:80px;
    font-size: 80px;
    text-align: center;
}

.resetButton{
    color:white;
    font-size: 30px;;
    margin:10px;
    align-items: center;
    border-radius: 8px;
    width:760px;
    height:50px;
    background-color: #22d60b;
}

.resetButton:hover {
    background-color: #38af29;
}

.resultTitleRed{
    text-align: center;
    border-radius: 8px;
    color:white;
    padding:20px;
    background-color: #f13838;
    box-sizing: border-box;
}

.resultTitleBlue{
    text-align: center;
    border-radius: 8px;
    color:white;
    padding:20px;
    background-color: #f13838;
    box-sizing: border-box;
}

.resultTitleYellow{
    text-align: center;
    border-radius: 8px;
    color:white;
    padding:20px;
    background-color: #f13838;
    box-sizing: border-box;
}

/*Result page*/
